#include "Pods/Target Support Files/Pods-available_pods-Cardii/Pods-available_pods-Cardii.release.xcconfig"

PROJECT_APPLE_ID = 6523428032
PROJECT_BUNDLE_ID = com.cardii.royoorder
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER =1
PROJECT_APP_NAME = Cardii
PROJECT_GOOGLE_CLIENT_ID = 31314634723-7dck1n49nib6848hsvg61avj3uv8m6sa.apps.googleusercontent.com
PROJECT_GOOGLE_REVERSE_CLIENT_ID = com.googleusercontent.apps.31314634723-7dck1n49nib6848hsvg61avj3uv8m6sa
PROJECT_FACEBOOK_ID = 170941418241602
PROJECT_TWITTER_ID = twitterkit-R66DHARfuoYAPowApUxNxwbPi
PROJECT_PLIST = CardiiInfo
PROJECT_GOOGLE_PLACE_KEY = AIzaSyB85kLYYOmuAhBUPd7odVmL6gnQsSGWU-4
PROJECT_ENTITLEMENT = Cardii.entitlements
CODE_PUSH_KEY = QiEo4QtfugLoPGGcGF9jVPGKjpBaJ-M3nTJEU

